@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburguer {
  border-top: 3px solid gray;
  display: block;
  width: 25px;
  position: relative;
  transition: 0.3s ease-in;
}

.hamburguer::after,
.hamburguer::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: gray;

  display: block;
  margin-top: 6px;
  transition: 0.3s ease-in;
}

.hamburguer.ativo {
  transform: rotate(90deg);
  border-top-color: transparent;
}

.hamburguer.ativo::after {
  transform: rotate(135deg);
  margin-top: -3px;
}

.hamburguer.ativo::before {
  transform: rotate(-135deg);
}

#items {
  transform: translateX(-1000);
  opacity: 0;
}
